<footer>
    <nav class="site-footer">
        <ul class="list-horizontal-footer">
            <li class="list-item-footer">
                <a href="#">
                    <button class="foot-button">
                        <i class="fab fa-facebook facebook"></i>
                    </button>
                </a>
            </li>
            <li class="list-item-footer">
                <a href="#">
                    <button class="foot-button youtube">
                        <i class="fab fa-youtube"></i>
                    </button>
                </a>
            </li>
            <li class="list-item-footer">
                <a href="#">
                    <button class="foot-button linkedin">
                        <i class="fab fa-linkedin"></i>
                    </button>
                </a>
            </li>
            <li class="list-item-footer">
                <a href="#">
                    <button class="foot-button email">
                        <i class="fas fa-envelope"></i>
                    </button>
                </a>
            </li>
        </ul>
    </nav>
</footer>