.description, .calendar {
    padding: 5%;
    display: table-cell;
}

.description {
    width: 60%;
}

.calendar {
    width: 40%;
}

#id_name, #id_surname, #id_phone, #id_email, #id_day, #id_time, #id_message {
    font-size: 25px;
    display: block;
}
