.site-nav {
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0;
    padding: 15px;
}

.site-footer {
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    padding: 15px;
    height: 150px;
}

body {
    background: url("/static/css/backgrounds/2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.list-horizontal-nav .list-item-nav {
    display: inline-block;
}

.list-horizontal-footer .list-item-footer {
    display: inline-block;
    width: 5%;
}

.nav-button {
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    background-color: #997a00;
    border-style: none;
    color: black;
    border-radius: 15px;
}

.nav-button:hover {
    background-color: #ffd11a;
    transition: .3s ease all;
    transform: scale3d(1.1, 1.2, 1);
}

.foot-button {
    background-color: transparent;
    border-style: none;
    font-size: 40px;
}

.facebook {
    color: #3b5998;
}

.youtube {
    color: #FF0000;
}

.linkedin {
    color: #0e76a8;
}

.email {
    color: white;
}

.banner {
    color: white;
}

.description {
    background-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-color: #997a00;
    border-left: none;
    border-right: none;
    color: white;
}

.calendar {
    background-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-color: #997a00;
    border-left: none;
    border-right: none;
}

.appointment-block {
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 40px;
    padding: 20px;
    width: 80%;
    height: 70%;
    border-radius: 7px;
}

.form-control {
    width: 450px;
    font-size: 30px;
    padding: 15px;
    margin: 15px;
}

.message-control {
    width: 450px;
    height: 300px;
    font-size: 30px;
    padding: 15px;
    margin: 15px;
}